global
    log 127.0.0.1    local0
    log 127.0.0.1    local1 notice


    chroot      /var/lib/haproxy
    pidfile     /var/run/haproxy.pid
    maxconn     4000
    user        nobody
    group       root
    daemon

    # turn on stats unix socket
    stats socket /var/lib/haproxy/stats level admin
    stats timeout 30s

defaults
    mode                    {{ mode }}
    log                     global
    option                  httplog
    option                  dontlognull
    option http-server-close
    option forwardfor       except 127.0.0.0/8
    option                  redispatch
    retries                 3
    timeout http-request    10s
    timeout queue           1m
    timeout connect         10s
    timeout client          1m
    timeout server          1m
    timeout http-keep-alive 10s
    timeout check           10s
    maxconn                 3000


listen stats :{{ HAPROXY_STAT }}
    mode http
    stats enable
    stats hide-version
    stats realm Haproxy\ Statistics
    stats uri /

frontend http-in
    bind *:{{APP_PORT}}
    default_backend server

backend server
    balance roundrobin
    option forwardfor
    option httpchk HEAD / HTTP/1.1\r\nHost:localhost
    http-request set-header X-Forwarded-Port %[dst_port]
    {% for host in groups['app_servers'] %}
        server {{ host }}   {{ host }}:{{ GUNICORN_PORT }} check
    {% endfor %}
